</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/overview.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="nav-wrapper">
            <a href='/'>Home</a>
            <%if(!user) {%>
                <a href='/users/signup'>Sign Up</a>
                <a href='/users/login'>Login</a>
            <%} else {%>
                <a href='/users/overview'>Profile</a>
                <a href='/users/logout'>Logout</a> 
            <%}%>
        </div>
    </nav>
    
<body>

    <div class="flex-container">
        <h1>Welcome to Budget U, <%= user.firstName %>!</h1>
        <h3>Total Balance: $<%=user.balance%> </h3>
    </div>
    
    <% if ((errorMessages && errorMessages.length > 0) || (successMessages && successMessages.length > 0)) { %>
        <div>
            <% if (errorMessages && errorMessages.length > 0) { %>
                <div class="container-2">
                    <% errorMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
            <% if (successMessages && successMessages.length > 0) { %>
                <div class="container-3">
                    <% successMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
        </div>
    <% } %>


    <div class="flex-container2">
            <form action="/users/updateBalance" method="POST" class="form-container">
                <h5>Insert Deposits Here: </h5>
                <br><br>
                <input type="text" id="paycheck" name="paycheck">
                <input type="submit" value="Submit" style="color: black; position: relative; bottom: 5px;">
            </form>
    </div>
                <div class="container2">
                    <div class="form-container2">
                        <h5>Insert Your Recent Transactions:</h5>
                        <form action="/users/subtractFromBalance" method="POST">
                            <label for="nameOfTransaction">Name of Transaction:</label>
                            <input type="text" id="nameOfTransaction" name="nameOfTransaction">
                            <label for="priceOfTransaction">Amount:</label>
                            <input type="text" id="priceOfTransaction" name="priceOfTransaction">
                            <input type="submit" value="Submit" style="color: black; position: relative; bottom: 5px;">
                        </form>
                    </div>
                    <div class="history-container">
                        <% if (user.transactions.length > 0) { %>
                            <h2>Transaction History</h2>
                            <ul>
                                <% user.transactions.forEach(transaction => { %>
                                    <li><%= transaction.name %> -$<%= transaction.price %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <p>No transactions yet.</p>
                        <% } %>
                    </div>
                    <div class="chart1-container">
                        <img src="https://datavizproject.com/wp-content/uploads/types/Line-Graph.png" alt="Line Graph">
                    </div>
                </div>
        </div>


        <br>


        <div class="flex-container3">
            <div class="savings-container">
                <form action="/users/updateSavings" method="POST">
                    <% if (user.totalSavingsAmount > 0) { %>
                        <h3>Start Saving! Your current total savings: $<%= user.totalSavingsAmount %></h3>
                    <% } else { %>
                        <h3>Start Saving! Your current total savings: $0</h3>
                    <% } %>
                    <p>Enter your new savings goal here!: </p>

                    
                    <input type="text" id="savings" name="savings">
                    <input type="submit" value="Submit" style="color: black; position: relative; bottom: 5px;">
                </form>
                <form action="/users/updateSavingsPutAway" method="POST">
                    <p>How much would you like to put away?: </p>
                    <input type="text" id="savingsPutAway" name="savingsPutAway">
                    <input type="submit" value="Submit" style="color: black; position: relative; bottom: 5px;">
                </form>
            </div>
            
                <div class="savings-container2">
                    <h1>Savings Overview</h1>
                    <% 
                    const remainingAmount = user.totalSavingsAmount - user.savingsPutAway;
                    %>
                    <p>Remaining Amount to Reach Savings Goal: $<%= remainingAmount > 0 ? remainingAmount : 0 %></p>

                    <% if (user.savingsPutAway > 0) { %>
                        <h2>Savings Transactions History</h2>
                        <ul>
                            <li>$<%= user.savingsPutAway %> put away for savings - <%= new Date().toLocaleDateString() %></li>
                        </ul>
                    <% } else { %>
                        <p>No savings transactions yet.</p>
                    <% } %>

                </div>
            <div class="chart2-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Pushkin_population_history.svg/1200px-Pushkin_population_history.svg.png" alt="Line Graph">
            </div>
        </div>

    </div>
</body>


<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
